.container
  p
    | The delete user and user index api routes are restricted to users with the 'admin' role.
  ul.list-group
    li.list-group-item(ng-repeat='user in admin.users')
      strong {{user.name}}
      br
      span.text-muted {{user.email}}
      .pull-right.actions
        .btn.btn-lg(ui-sref='settings-user({id: user._id})')
          span.glyphicon.glyphicon-cog
        .btn.btn-lg.trash-btn(ng-click='admin.delete(user)')
          span.glyphicon.glyphicon-trash
