
li {
  display: flex;
  border: none;
  border-bottom: 1px lightgray solid;
  margin-bottom: 0;
  &:last-child { border-bottom: none; }

  .user-info {
    flex-grow: 1;
  }

  .actions {
    margin-top: -20px;
  }
}
