img.loading(ng-if='loading', src='assets/images/ajax-loader.gif')

.form-labels-on-top(ng-if="!loading")
  .form-title-row
    h1 Information du patient
  .square(ng-repeat='item in headers')
    label
      span {{item.label}}
      br
      input(type='text', ng-model='datas[item.key]')
  .middle
    label
      span Sexe :
      br
      select(ng-model='datas.gender')
        option Homme
        option Femme
  .middle
    label
      span Bilan de santé :
      br
      textarea(ng-model='datas.checkup')

  // //1 motif de la consultation
  .form-title-row
    h1 1 Motif de la consultation :
  .middle
    label
      textarea(ng-model='datas.reasons')
  .middle
    label
      | Douleur :
      input(type='checkbox', value='douleur', ng-model='datas.pain')


  // //2 evaluation de la douleur
  .form-title-row
    h1 2 Evaluation de la douleur
  .square
    label
      span Douleur 1 :
      br
      input(type='text', ng-model='datas.firstpain')
  .square(ng-repeat='item in pain1')
    label
      span {{item.label}}
      br
      select(ng-options='numbers for numbers in item.scale', ng-model='datas[item.key]')
  .square
    label
      span Date de début
      input(type='text', ng-model='datas.startdate')

  .square(ng-repeat='item in pain2')
    label
      span  {{item.label}}
      br
      input(type='text', ng-model='datas[item.key]')

  .form-row
    a.btn.btn-default.btn-lg.btn-register(target="_blank")
      | Questionnaire DN4
    label
      span Score DN4
      br
      input(type='text', ng-model='datas.dn4')

  // //3 Environnement
  .form-title-row
    h1 3 Environnement :

  .middle(ng-repeat='item in environment')
    label.left
      span {{item.label}}
      br
      textarea(ng-model='datas[item.key]')

  .middle
    label
      span Score EDAS21
  .middle
    a.btn.btn-default.btn-lg.btn-register(target="_blank" ui-sref='edas')
      | Questionnaire EDAS21
  .col3
    label
      span Anxiété :
      br
      input(type='number', ng-model='datas.anxiety')
  .col3
    label
      span Dépression :
      br
      input(type='number', ng-model='datas.depression')
  .col3
    label
      span Stress :
      br
      input(type='number', ng-model='datas.stress')

  // //4 Trouble de la posture
  .form-title-row
    h1 4 Trouble de la posture :
  .middle
    label.left
      span Rachidienne :
      textarea(ng-model='datas.rachid')
  .middle
    label.left
      span Céphalique :
      textarea(ng-model='datas.cephal')

  // //5 Trouble du sommeil
  .form-title-row
    h1 5 Trouble du sommeil :

  .form-row
    label
      span Souffrez vous du syndrome d'apnées/hypopnées obstructives du sommeil ?
    .form-radio-buttons.centered-options
      label
        input(type='radio', ng-model='datas.apnea', value='true')
        span Oui
      label
        input(type='radio', ng-model='datas.apnea', value='false')
        span Non
  br
  .square
    label
      span Autres symptômes:
      br
      textarea(ng-model='datas.othersymptoms')
  .square
    label
      span Traitement:
      br
      textarea(ng-model='datas.treatment2')
  .square
    label
      a.btn.btn-default.btn-lg.btn-register(target="_blank" ui-sref='psqi')
        | Questionnaire PSQI
    label
      span Score PSQI :
      input(type='number', ng-model='datas.psqi')
  .square
    label
      a.btn.btn-default.btn-lg.btn-register(target="_blank" ui-sref='isi')
        | Questionnaire ISI
    label
      span Score ISI :
      br
      input(type='number', ng-model='datas.isi')

  // //6 Trouble oculaire
  .form-title-row
    h1 6 Trouble oculaire :
  .middle
    label
      textarea(ng-model='datas.eyedisorder')

  // //7  Habitude novices
  .form-title-row
    h1 7 Habitude novices :
  .form-row
    .form-radio-buttons
      label
        input(type='checkbox', ng-model='datas.onycophagy')
        span Onycophagie
    .form-radio-buttons
      label
        input(type='checkbox', ng-model='datas.nibbling')
        span Mordillement des lèvres/stylo/objets
    .form-radio-buttons
      label
        input(type='checkbox', ng-model='datas.bruxism')
        span Bruxisme d'éveil
    .form-radio-buttons
      label
        input(type='checkbox', ng-model='datas.chewinggum')
        span Chewing-gum
    .form-radio-buttons
      label
        input(type='checkbox', ng-model='datas.tobacco')
        span Tabac
    .form-radio-buttons
      label
        input(type='checkbox', ng-model='datas.others')
        span Autres :
    .middle.form-radio-buttons
      label
        br
        textarea(ng-model='data.othersText')

  // //8  DYSFONCTIONNEMENTS ORO-LINGAUX :
  .form-title-row
    h1 8 Dysfonctionnements oro-lingaux :
  .form-radio-buttons
    label
      input(type='checkbox', ng-model='datas.orolingual')
      span Dysfonctionnements orolinguaux
    label
      input(type='checkbox', ng-model='datas.halloween')
      span Déglutition atypique
  .square
    label
      span Score de Friedman :
      br
      input(type='text', ng-model='datas.friedman')
  .square
    label
      span Score de Mallampati :
      br
      input(type='text', ng-model='datas.mallampati')

  // //9 TRAUMATISME :
  .form-title-row
    h1 9 Traumatisme :
  .middle
    label
      textarea(ng-model='datas.trauma')

  // //10 OBSERVATIONS COMPLÉMENTAIRES :
  .form-title-row
    h1 10 Observations complémentaires :
  .middle
    label
      textarea(ng-model='datas.observations')

  // //12 Rapport incisifs
  .form-title-row
    h1 12 Rapport incisifs :
  .form-radio-buttons.left
    span Dent de reference :
    br
    label
      input(type='radio', ng-model='datas.toothref', value='11')
      span 11
    label
      input(type='radio', ng-model='datas.toothref', value='21')
      span 21
    label
      input(type='radio', ng-model='datas.toothref', value='other')
      span Autre :
    input(type='text', ng-model='datas.toothrefOther')
  br
  .form-radio-buttons.left
    label
      input(type='radio', ng-model='datas.toothref2', value='31')
      span 31
    label
      input(type='radio', ng-model='datas.toothref2', value='41')
      span 41
    label
      input(type='radio', ng-model='datas.toothref2', value='other')
      span Autre :
    input(type='text', ng-model='datas.toothref2Other')
  br
  .form-radio-buttons.left
    | Surplomb horizontal
    input.inline.input-small(type='number', ng-model='datas.horizontaloverhang')
    | mm
    label.inline
      input(type='checkbox', ng-model='datas.negative1')
      span Si négatif
    br
    span Recouvrement vertical
    input.inline.input-small(type='number', ng-model='datas.verticaloverlap')
    span mm
    label.inline
      input(type='checkbox', ng-model='datas.negative2')
      span Si négatif
    br
    span Existe-t-il un décalage des milieux inter-incisifs ?
    label.inline
      input(type='radio', ng-model='datas.offset', value='oui')
      span Oui (
      input.input-small(type='number', ng-model='datas.offsetDetail')
      span mm)
    label.inline
      input(type='radio', ng-model='datas.offset', value='non')
      span Non

  // //14 TRAJET D'OUVERTURE/FERMETURE :
  // ng-model :
  .form-title-row
    h1 14 Trajet d'ouverture/fermeture :
  span Forme du trajet d'ouverture :
  .form-row
    .form-radio-buttons
      label
        input#trajetouverture0(type='checkbox', ng-model='datas.straight', onchange="if(document.getElementById('trajetouverture0').checked) for (var i = 1 ; i < 5 ; ++i) document.getElementById('trajetouverture' + i).checked = false;")
        span rectiligne
    .form-radio-buttons
      label
        input#trajetouverture1(type='checkbox', ng-model='datas.deflectRight', onchange="if(document.getElementById('trajetouverture1').checked) document.getElementById('trajetouverture0').checked = false;")
        span déflexion corrigée à droite
    .form-radio-buttons
      label
        input#trajetouverture2(type='checkbox', ng-model='datas.deflectLeft', onchange="if(document.getElementById('trajetouverture1').checked) document.getElementById('trajetouverture0').checked = false;")
        span déflexion corrigée à gauche
    .form-radio-buttons
      label
        input#trajetouverture3(type='checkbox', ng-model='datas.deviationRight', onchange="if(document.getElementById('trajetouverture1').checked) document.getElementById('trajetouverture0').checked = false;")
        span déviation non corrigée à droite
    .form-radio-buttons
      label
        input#trajetouverture4(type='checkbox', ng-model='datas.deviationLeft', onchange="if(document.getElementById('trajetouverture1').checked) document.getElementById('trajetouverture0').checked = false;")
        span déviation non corrigée à gauche

  // //16 BLOCAGE ARTICULAIRE :
  .form-title-row
    h1 16 Blocage articulaire :
  .left
    h4 Vous est-il arrivé d'être bloqué(e) ?
    .form-row
      .form-radio-buttons
        label
          input(type='checkbox', ng-model='openmouth')
          span Bouche ouverte
        label
          input(type='checkbox', ng-model='closedmouth')
          span Bouche ferme
        label
          input(type='checkbox', ng-model='blockAtmRight')
          span ATM droit
        label
          input(type='checkbox', ng-model='blockAtmLeft')
          span ATM gauche
  br
  .square
    label
      span Frequence :
      br
      input(type='text', ng-model='blockfrequency')
  .square
    label
      span Dernier episode :
      br
      input(type='text', ng-model='lastoccurence')

  //18 Elasticité articulaire
  .form-title-row
    h1 18 Elasticité articulaire :
  .left
    .form-radio-buttons
      span ATM droite :&nbsp;
      label
        input(type='radio', ng-model='datas.atmRight', value='0')
        span Souple
      label
        input(type='radio', ng-model='datas.atmRight', value='1')
        span Raide
    .form-radio-buttons
      span ATM gauche :&nbsp;
      label
        input(type='radio', ng-model='datas.atmLeft', value='0')
        span Souple
      label
        input(type='radio', ng-model='datas.atmLeft', value='1')
        span Raide

  //19. Examen endo-buccal
  .form-title-row
    h1 19. Examen endo-buccal :
  .left
    .form-radio-buttons
      h4 Contacts en OIM :
      label
        input(type='radio', ng-model='datas.oimcontact', value='0')
        span Répartis de manière équilibrée
      br
      label
        input(type='radio', ng-model='datas.oimcontact', value='1')
        span Autre
      textarea(ng-model='datas.oimcontact')

      h4 La position dans laquelle vous fermez vos dents vous paraît-elle confortable ?
      label
        input(type='radio', ng-model='datas.closeteeth', value='0')
        span Oui
      label
        input(type='radio', ng-model='datas.closeteeth', value='1')
        span Non

      h4 Mastication unilatérale ?
      label
        input(type='radio', ng-model='datas.chewing', value='0')
        span Oui
      label
        input(type='radio', ng-model='datas.chewing', value='1')
        span Non
      br
      br
  .square(ng-repeat='item in bucal')
    label
      span {{item.label}}
      input(type='text', ng-model='datas[item.key]')

  h4 Différentiel ORC-OIM :
  .square
    label
      span Dans le sens vertical
      input(type='text', ng-model='datas.vertical')
  .square
    label
      span Dans le sens antéro-postérieur
      input(type='text', ng-model='datas.anteroPosterieur')
  .middle
    label
      span Dans le sens latéral
      br
      input(type='text', ng-model='datas.lateral')

  // 20 Rapport incisifs
  .form-title-row
    h1 20. Usures Dentaire/bruxismes :
  .square(ng-repeat='item in wear')
    label
      span {{item.label}}
      input(type='text', ng-model='datas[item.key]')

  .square
    label
      span Bruxisme d'éveil
      br
      select(ng-options='plause as plause for plause in plause', ng-model='datas.plause')
  .middle
    label
      span Bruxisme de sommeil(Diagnostic )
      br
      select(ng-options='plause as plause for plause in plause', ng-model='datas.plause')

    br

  .middle
    label
      | Information complémentaire
      br
      textarea(ng-model='datas.incisifinfo')

  // Diagnostic :
  .form-title-row
    h1 Diagnostic :
  .middle
    label
      textarea(ng-model='datas.diagnostic')

  // Diagnostic :
  .form-title-row
    h1 Plan de traitement :
  .middle
    label
      textarea(ng-model='datas.treatmentplan')


  .form-row
    button(ng-click='writeRecord()') Calculer le score
