img.loading(ng-show='loading', src='assets/images/ajax-loader.gif')

.form-labels-on-top(ng-show="!loading")
  .form-title-row
    h1 Echelle de dépression, d'anxiété et de stress (EDAS21)
  div(ng-repeat='item in headers' ng-class='item.class')
    label
      span {{item.label}}
      br
      input(type='text', ng-model='datas[item.key]')
  .clearfix
    p.description
      | Veuillez lire chaque énoncé et indiquer lequel correspond le mieux à votre expérience au cours de la dernière semaine.
      |  Indiquez votre choix en encerclant le chiffre qui y correspond (soit 0,1, 2 ou 3). Il n’y a pas de bonne ou de mauvaise réponse.
      |  Ne vous attardez pas trop longuement sur les énoncés. L’échelle de notation est la suivante :
      br
      |  0 ne s’applique pas du tout à moi
      br
      |  1 s’applique un peu à moi, ou une partie du temps
      br
      |  2 s’applique beaucoup à moi, ou une bonne partie du temps
      br
      |  3 s’applique entièrement à moi, ou la grande majorité du temps


  .form-row(ng-repeat="question in formContent")
    label
      span {{question.label}}
    .form-radio-buttons
      div
        label(ng-repeat="option in scale")
          input(type='radio', ng-model='datas[question.key]', name='{{$parent.$index}}', value='{{$index}}')
          span {{option}}


  .form-row
    button(ng-click='writeRecord()') Submit Form
