form.form-labels-on-top(method='post', action='#')
  .form-title-row
    h1 Index de Qualité du Sommeil de Pittsburgh (PSQI)
  .square
    label
      span Nom :
      br
      input(type='text', name='lastname')
  .square
    label
      span Prénom :
      br
      input(type='text', name='firstname')
  .square
    label
      span Date de naissance :
      br
      input(type='text', name='birthdate')
  .square
    label
      span Date de ce jour :
      br
      input(type='text', name='date')
  p.description
    | Les questions suivantes ont trait à vos habitudes de sommeil peandant le dernier mois seulement. Vos réponses doivent indiquer ce qui correspond aux expériences que vous avez eues pendant la majorité des jours et des nuits au cours du dernier mois. Répondez à toutes les questions.

  .form-row(ng-repeat='question in ::psqiCtrl.textInputs')
    label
      span {{question.label}}
    .form-radio-buttons
      div
        label
          .input-label
            span {{question.textBefore}}
          input(type='text')
          br
          span.sub-label(ng-if='question.textAfter') (l'heure doit être au format 24h)

  .form-row(ng-repeat='question in ::psqiCtrl.radioInputs')
    label
      span {{question.label}}
    .form-radio-buttons
      div
        label(ng-repeat='option in question.scale')
          input(type='radio', name='radio')
          span {{option}}

  .form-row(ng-repeat='question in ::psqiCtrl.formContent')
    label
      span {{question.label}}
    .form-radio-buttons
      div
        label(ng-repeat='option in question.scale')
          input(type='radio', name='radio')
          span {{option}}

  .form-row
    button(type='submit') Calculer le score
