form.form-labels-on-top(method='post', action='#')
  .form-title-row
    h1 Index de Sévérité de l'Insomnie (ISI)
  .square
    label
      span Nom :
      br
      input(type='text', ng-model='lastname')
  .square
    label
      span Prénom :
      br
      input(type='text', ng-model='firstname')
  .square
    label
      span Date de naissance :
      br
      input(type='text', ng-model='birthdate')
  .square
    label
      span Date de ce jour :
      br
      input(type='text', ng-model='date')
  p.description
    | Pour chacune des questions, veuillez cocher celle qui correspond le plus fidèlement à votre sommeil au cours du dernier mois.
    br
    br
    | Pour les trois premières questions, veuillez estimer la SÉVÉRITÉ de vos difficultés de sommeil.

  .form-row(ng-repeat='question in ::isiCtrl.formContent')
    label
      span {{question.label}}
    .form-radio-buttons
      div
        label(ng-repeat='option in question.scale')
          input(type='radio', ng-model='radio')
          span {{option}}

  .form-row
    label
      span 16. Combien de nuits par semaine (moyenne du dernier mois) avez-vous eu des difficultés de sommeil ?
    .form-radio-buttons
      div
        label
          input(type='text', ng-model='radio')
          span nuits par semaine

  .form-row
    button(type='submit') Calculer le score
