form.form-labels-on-top(method='post', action='#')
  .form-title-row
    h1 Information du patient
  .square
    label
      span Identifiant du patient :
      br
      input(type='text', name='patient-information')
  .square
    label
      span Date de naissance :
      br
      input(type='text', name='birthdate')
  .square
    label
      span Date de consultation :
      br
      input(type='text', name='date')
  .square
    label
      span Sexe :
      br
      select(name='sexe')
        option Homme
        option Femme
  .square
    label
      span Profession :
      br
      input(type='text', name='job')
  .square
    label
      span Bilan de santé :
      br
      textarea

  .form-title-row
    h1 Motif de la consultation :
  .square
    label
      span Bilan de santé :
      br
      textarea
  .square
    label
      input(type='radio', name='radio')
      span Douleur


  .form-row
    button(type='submit') Submit Form
