form.form-labels-on-top(method='post', action='#')
  fieldset
    .form-title-row
      h1 Information du patient
    .square
      label
        span Identifiant du patient :
        br
        input(type='text', ng-model='patient-information')
    .square
      label
        span Date de naissance :
        br
        input(type='text', ng-model='birthdate')
    .square
      label
        span Date de consultation :
        br
        input(type='text', ng-model='date')
    .square
      label
        span Sexe :
        br
        select(ng-model='sexe')
          option Homme
          option Femme
    .square
      label
        span Profession :
        br
        input(type='text', ng-model='job')
    .square
      label
        span Bilan de santé :
        br
        textarea(ng-model='checkup')

  // //1 motif de la consultation
  // ng-model : checkup2 pain
  fieldset
    .form-title-row
      h1 1 Motif de la consultation :
    .square
      label
        span Bilan de santé :
        br
        textarea(ng-model='checkup2')
    .square
      label
        input(type='checkbox', value='douleur', ng-model='pain')
        |       Douleur

  // //2 evaluation de la douleur
  // ng-model : firstpain EVAFond EVAPic startdate quality delay frequency startcircumstance modifyby  treatment dn4score
  fieldset

    .form-title-row
      h1 2 Evaluation de la douleur
    .square
      label
        span Douleur 1 :
        br
        input(type='text', ng-model='firstpain')
    .square
      label
        span     Evaluation :   Fond Douloureux
        br
        select(ng-options='numbers as numbers for numbers in dentalSheetCtrl.numbers', ng-model='EVAFond')
    .square
      label
        span     Evaluation :   Pic Douloureux
        br
        select(ng-options='numbers2 as numbers2 for numbers2 in dentalSheetCtrl.numbers2', ng-model='EVAPic')
    .square
      label
        span     Date de début
        input(type='text', ng-model='startdate')
    .square
      label
        span     Qualité
        br
        input(type='text', ng-model='quality')
    .square
      label
        span     Durée
        br
        input(type='text', ng-model='delay')
    .square
      label
        span     Frequence
        br
        input(type='text', ng-model='frequency')
    .square
      label
        span     Circonstance de début
        br
        input(type='text', ng-model='startcircumstance')
    .square
      label
        span     Modifié par :
        br
        input(type='text', ng-model='modifyby')
    .square
      label
        span    Traitement
        br
        input(type='text', ng-model='treatment')
    .square
      label
        span    Score DN4 :
        br
        input(type='text', ng-model='dn4score', value='0')

  // //3 Environement
  // ng-model : family social professional anxiety deoression stress
  fieldset
    .form-title-row
      h1 3 Environement :
    .square
      label
        span Familial :
        br
        textarea(ng-model='family')
    .square
      label
        span Social :
        br
        textarea(ng-model='social')
    .square
      label
        span Professionnel :
        br
        textarea(ng-model='professional')
    .square
      label
        span    Anxiété :
        br
        input(type='text', ng-model='anxiety', value='0')
    .square
      label
        span    Depression :
        br
        input(type='text', ng-model='deoression', value='0')
    .square
      label
        span    Stress :
        br
        input(type='text', ng-model='stress', value='0')

  // //4 Trouble de la posture
  // ng-model : rachidiancheck rachidiandetails cephaliquecheck cephaliquedetails
  fieldset
    .form-title-row
      h1 4 Trouble de la posture :
    .square
      label
        input(type='checkbox', value='douleur', ng-model='rachidiancheck')
        |       Rachidienne
    .square
      label
        span details:
        br
        textarea(ng-model='rachidiandetails')
    .square
      label
        input(type='checkbox', value='douleur', ng-model='cephaliquecheck')
        |       Céphalique
    .square
      label
        span details:
        br
        textarea(ng-model='cephaliquedetails')

  // //5 Trouble du sommeil
  // ng-model : sleepdisorder othersymptoms treatmenttextarea psqiscore isiscore
  fieldset
    .form-title-row
      h1 5 Trouble du sommeil :

    h4     Souffrez vous du syndrome d'apnées/hypopnées obstructives du sommeil ?
    input(type='radio', ng-model='sleepdisorder', value='oui')
    |  oui
    input(type='radio', ng-model='sleepdisorder', value='non')
    |  non
    br
    .square
      label
        span Autres symptômes:
        br
        textarea(ng-model='othersymptoms')
    .square
      label
        span Traitement:
        br
        textarea(ng-model='treatmenttextarea')
    .square
      label
        span    Score PSQI :
        br
        input(type='text', ng-model='psqiscore', value='0')
    .square
      label
        span    Score ISI :
        br
        input(type='text', ng-model='isiscore', value='0')

  // //6 Trouble oculaire
  // ng-model : eyedisorder
  fieldset
    .form-title-row
      h1 6 Trouble oculaire :
    .square
      label
        br
        textarea(ng-model='eyedisorder')

  // //7  Habitude novices
  // ng-model : onycophagie mordillement bruxisme chewing-gum tabac others novicehabits
  fieldset
    .form-title-row
      h1 7 Habitude novices :
    .square
      label
        input(type='checkbox', value='Onycophagie', ng-model='onycophagie')
        |       Onycophagie
    .square
      label
        input(type='checkbox', value='Mordillement', ng-model='mordillement')
        |             Mordillement des lèvres/stylo/objets
    .square
      label
        input(type='checkbox', value='Bruxisme d\'éveil', ng-model='bruxisme')
        |       Bruxisme d'éveil
    .square
      label
        input(type='checkbox', value='chewing-gum', ng-model='chewing-gum')
        |       Chewing-gum
    .square
      label
        input(type='checkbox', value='tabac', ng-model='tabac')
        |       tabac
    .square
      label
        input(type='checkbox', value='autres', ng-model='others')
        |       Autres
    .square
      label
        br
        textarea(ng-model='novicehabits')

  // //8  DYSFONCTIONNEMENTS ORO-LINGAUX :
  // ng-model : dysfonctionnements_orolinguaux déglutition_atypique friedmanscore mallampaticore
  fieldset
    .form-title-row
      h1 8 Dysfonctionnements oro-lingaux :
    .square
      label
        input(type='checkbox', value='Dysfonctionnements orolinguaux',ng-model='dysfonctionnements_orolinguaux')
        |             Dysfonctionnements orolinguaux
    .square
      label
        input(type='checkbox', value='Déglutition atypique',ng-model='déglutition_atypique')
        |             Déglutition atypique
    .square
      label
        span      Score de Friedman :
        br
        input(type='text', ng-model='friedmanscore', value='0')
    .square
      label
        span      Score de Mallampati :
        br
        input(type='text', ng-model='mallampaticore', value='0')

  // //9 TRAUMATISME :
  // ng-model : traume
  fieldset
    .form-title-row
      h1 9 Traumatisme :
    .square
      label
        br
        textarea(ng-model='traume')

  // //10 OBSERVATIONS COMPLÉMENTAIRES :
  // ng-model : observations
  fieldset
    .form-title-row
      h1 10 Observations complémentaires :
    .square
      label
        br
        textarea(ng-model='observations')

  // //12 Rapport incisifs
  // Revenir sur le post du radio qui est bug
  // ng-model : toothref toothref2 horizontaloverhang ifnegatif ifnegatif2 decalage
  fieldset
    .form-title-row
      h1 12 Rapport incisifs :
    p Dent de reference :
    input(type='radio', ng-model='toothref', value='11')
    |  11
    input(type='radio', ng-model='toothref', value='21')
    |  21
    input(type='radio', ng-model='toothref', value='non')
    |  autre
    textarea(rows='1', cols='3', ng-model='toothref')

    br

    input(type='radio', ng-model='toothref2', value='31')
    |  31
    input(type='radio', ng-model='toothref2', value='41')
    |  41
    input(type='radio', ng-model='toothref2', value='non')
    |  autre
    input(type='radio', ng-model='toothref2', value='non')
    |  autre
    textarea(rows='1', cols='3', ng-model='toothref2')
    br
    |   Surplomb horizontal
    input(type='text', ng-model='horizontaloverhang', value='0')
    |   mm
    label
      input(type='checkbox', value='negatif', ng-model='ifnegatif')
      |     Si négatif
    br
    |   Recouvrement vertical
    input(type='text', ng-model='isiscore', value='0')
    |   mm
    label
      input(type='checkbox', value='negatif', ng-model='ifnegatif2')
      |     Si négatif
    br
    |   Existe-t-il un décalage des milieux inter-incisifs ?
    input(type='radio', ng-model='decalage', value='oui')
    |  oui (
    textarea(rows='1', cols='3', ng-model='decalage')
    | mm)
    input(type='radio', ng-model='decalage', value='non')
    |  non
    .square

  // //14 TRAJET D'OUVERTURE/FERMETURE :
  // ng-model :
  fieldset
    .form-title-row
      h1 14 Trajet d'ouverture fermeture :
    p Forme du trajet d'ouverture :
    input#trajetouverture0(type='checkbox', onchange="if(document.getElementById('trajetouverture0').checked) for (var i = 1 ; i < 5 ; ++i) document.getElementById('trajetouverture' + i).checked = false;")
    label(for='trajetouverture0') rectiligne
    br
    input#trajetouverture1(type='checkbox', onchange="if(document.getElementById('trajetouverture1').checked) document.getElementById('trajetouverture0').checked = false;")
    label(for='trajetouverture1') déflexion corrigée à droite
    br
    input#trajetouverture2(type='checkbox', onchange="if(document.getElementById('trajetouverture2').checked) document.getElementById('trajetouverture0').checked = false;")
    label(for='trajetouverture2') déflexion corrigée à gauche
    br
    input#trajetouverture3(type='checkbox', onchange="if(document.getElementById('trajetouverture3').checked) document.getElementById('trajetouverture0').checked = false;")
    label(for='trajetouverture3') déviation non corrigée à droite
    br
    input#trajetouverture4(type='checkbox', onchange="if(document.getElementById('trajetouverture4').checked) document.getElementById('trajetouverture0').checked = false;")
    label(for='trajetouverture4') déviation non corrigée à gauche
    br
    .square

  // //16 BLOCAGE ARTICULAIRE :
  // ng-model : open_mouth close_mouth ATM_right ATM_left frequency2 lastepisode
  fieldset
    .form-title-row
      h1 16 Blocage articulaire :
    h4   Vous est-il arrivé d'être bloqué(e) ?
    .square
      label
        input(type='checkbox', value='Bouche ouverte',ng-model='open_mouth')
        |             Bouche ouverte
    .square
      label
        input(type='checkbox', value='Bouche ferme',ng-model='close_mouth')
        |             Bouche ferme
    .square
      label
        input(type='checkbox', value='ATM droit',ng-model='ATM_right')
        |             ATM droit
    .square
      label
        input(type='checkbox', value='ATM gauche',ng-model='ATM_left')
        |             ATM gauche
    .square
      label
        span  Frequence :
        br
        input(type='text', ng-model='frequency2')
    .square
      label
        span  Dernier episode :
        br
        input(type='text', ng-model='lastepisode')

  //18 Elasticité articulaire
  // ng-model : ATMdroite ATMgauche
  fieldset
    .form-title-row
      h1 18 Elasticité articulaire :
    | ATM droite :
    input(type='radio', ng-model='ATMdroite', value='Souple')
    |  Souple
    input(type='radio', ng-model='ATMdroite', value='Raide')
    |  Raide
    br
    | ATM gauche :
    input(type='radio', ng-model='ATMgauche', value='Souple')
    |  Souple
    input(type='radio', ng-model='ATMgauche', value='Raide')
    |  Raide
    br

  //19. Examen endo-buccal
  // ng-model : oimcontact closeteeth ATMdroite2 interferenceright interferenceleft interferencepropulsion interferenceprematurite verticalsens anteroposterieur lateralsens
  fieldset
    .form-title-row
      br
      h1 19. Examen endo-buccal :
    h5     Contacts en OIM :
    input(type='radio', ng-model='oimcontact', value='equilibre')
    |  répartis de manière équilibrée
    input(type='radio', ng-model='oimcontact', value='')
    textarea(rows='1', cols='25', ng-model='oimcontact')
    br
    h4     La position dans laquelle vous fermez vos dents vous paraît-elle confortable ?
    input(type='radio', ng-model='closeteeth', value='oui')
    |  oui
    input(type='radio', ng-model='closeteeth', value='non')
    |  non
    br
    br
    | Mastication unilatérale
    input(type='radio', ng-model='ATMdroite2', value='Souple')
    |  oui
    input(type='radio', ng-model='ATMdroite2', value='Raide')
    |  non
    br
    br
    .square
      |   Interférence(s) en latéralité droite :
      input(type='text', ng-model='interferenceright', value='')
    .square
      |   Interférence(s) en latéralité gauche :
      input(type='text', ng-model='interferenceleft', value='')
    .square
      |   Interférence(s) en latéralité propulsion :
      input(type='text', ng-model='interferencepropulsion', value='')
    .square
      |   Prématurité(s) :
      input(type='text', ng-model='interferenceprematurite', value='')
    h5     Différentiel ORC-OIM :
    .square
      |   Dans le sens vertical :
      input(type='text', ng-model='verticalsens', value='')
    .square
      |   Dans le sens  antéro-postérieur :
      input(type='text', ng-model='anteroposterieur', value='')
    .square
      |   Dans le sens latéral :
      input(type='text', ng-model='lateralsens', value='')

  // 20 Rapport incisifs
  // ng-model : horizontaloverhang horizontaloverhang2 abrasion bruxismewake plause incisifinfo
  fieldset
    .form-title-row
      h1 20. Usures Dentaire/bruxismes :
    .square
      |   Erosion(dents)
      input(type='text', ng-model='horizontaloverhang', value='0')

      br
    .square
      |   Attrition(dents)
      input(type='text', ng-model='horizontaloverhang2', value='0')

      br
    .square
      |   Abrasion(dents)
      input(type='text', ng-model='abrasion', value='0')

      br
    .square
      |   Bruxisme d'éveil(dents)
      input(type='text', ng-model='bruxismewake', value='0')

      br
    .square
      |   Bruxisme de sommeil(Diagnostic )
      select(ng-options='plause as plause for plause in dentalSheetCtrl.plause', ng-model='plause')

      br

    .square
      label
        | Information complémentaire
        br
        textarea(ng-model='incisifinfo')

  // Diagnostic :
  // ng-model : diagnostic
  fieldset
    .form-title-row
      h1 Diagnostic :
    .square
      label
        br
        textarea(ng-model='diagnostic')

  // Diagnostic :
  // ng-model : treatmentplan
  fieldset
    .form-title-row
      h1 Plan de traitement :
    .square
      label
        br
        textarea(ng-model='treatmentplan')

  .form-row
    button(type='submit') Submit Form
a.btn.btn-default.btn-lg.btn-register(ui-sref='edas')
  | EDAS21

a.btn.btn-default.btn-lg.btn-register(ui-sref='isi')
  | ISI

a.btn.btn-default.btn-lg.btn-register(ui-sref='psqi')
  | PSQI
